.btn {
    font-size: var(--rpx-18);
    font-weight: 600;
    padding: var(--rpx-18) var(--rpx-40);
    border: none;
    border-radius: var(--rpx-10);
}

.btn-primary-green {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn-secondary-transparent {
    background-color: transparent;
    color: var(--color-primary);
}